@model SmokeTest.Models.HomeViewModel
@using SmokeTest.Shared
@{
    ViewData["Title"] = "Smoke Test";
}

    <script type="text/javascript">
    function updateDynamicData(divName, url) {
        $.ajax({
            type: 'GET',
            url: url,
            cache: false,
            success: function (response) {
                $(divName).html(response);

                var autoUpdate = @Model.AutoUpdatePage.ToString().ToLower();

                if (autoUpdate) {
                    setTimeout(updateDynamicData, @Model.AutoUpdateFrequency, divName, url);
                }
            },
        })
    };
    </script>
<div class="hb">
    <div class="row">
        <div class="col">
            @for (int i = 0; i < Model.HomeCards.Count; i++)
            {
                HomeCard item = Model.HomeCards[i];

                if (item.PartialView)
                {
                    string url = $"{item.Url}{i}";
                    string divName = $"divHomecard{i}";
                    <div id="@divName">
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            updateDynamicData('#@divName', '@url');
                        });
                    </script>
                }
                else
                {
                    <div>
                        <div class="card">
                            <div class="card-header">
                                @item.Title
                            </div>
                            <div class="card-body">
                                <a href="@item.Url" class="card-link">
                                    <img src="@item.Image" style="height:100%;left:25%;position:relative;" />
                                    <p class="card-text">@item.Description</p>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
